openapi: 3.1.0
info:
  title: TonForge Agent API
  version: "1.0.0"
  summary: Machine-facing API for AI agents to automate a seller's product lifecycle.
  description: |
    The **Agent API** lets an autonomous agent (or any HTTP client acting on a
    seller's behalf) manage that seller's marketplace listings, distribution
    manifests, and read their orders — without ever touching a browser session.

    ## Authentication
    Every request authenticates with a **Personal Access Token (PAT)** issued by
    a *verified* seller. Tokens look like `tfa_XXXXXXXX…` and are passed either as:

    - `Authorization: Bearer tfa_…`  (preferred, standard), or
    - `X-Agent-Token: tfa_…`         (fallback for clients that reserve `Authorization`).

    The acting wallet is read **from the token**, never from the request body or
    a header. An agent therefore cannot act for a seller other than the one who
    issued its token, no matter what it puts in the payload.

    Tokens are issued, listed, and revoked by the human seller through the
    session-authenticated `agent-tokens` endpoints (see the `Token management`
    tag). The plaintext token is shown **exactly once** at issue time.

    ## Authorization (scopes)
    A token carries a set of scopes. `listings:write` implies `listings:read`;
    `distribution:write` implies `listings:read`. A request missing a required
    scope returns `403 SCOPE_FORBIDDEN`.

    ## Hard gates (defence in depth)
    Independent of scopes, every agent request re-checks the token's wallet at
    call time:
    - on a sanctions list  → `451 SANCTIONED`
    - KYC not approved      → `403` (KYC code)
    These run on *every* call, so a token issued before a designation — or for a
    wallet whose KYC was later revoked — stops working immediately. The two
    onboarding-facing reads `GET /instructions` and `GET /status` are the only
    exception to the KYC gate (sanctions screening still applies): they stay
    readable before KYC so an agent can learn how to get verified and track its
    own progress.

    ## Rate limiting
    Per-token: `AGENT_RATE_LIMIT` requests / 15 min (default **600**). Responses
    carry `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`.
    Exceeding it returns `429 RATE_LIMITED`. Repeated auth failures from one IP
    are separately throttled (`429 AUTH_RATE_LIMITED`).

    ## Response envelope
    Success responses wrap their payload in a top-level `data` object. Errors use
    either `{ "error": string, "code": string }` (route-level) or
    `{ "success": false, "message": string, "code": string }` (auth middleware).

servers:
  - url: https://tonforge.org/api/v1/agent
    description: Production — Agent API
  - url: https://tonforge.org/api/v1/commerce
    description: Production — Token management (session-authenticated)

tags:
  - name: Identity
    description: Inspect the token currently in use.
  - name: Onboarding
    description: Machine-readable operating manual and self-status. Readable before KYC.
  - name: Products
    description: Create catalog product drafts that enter moderation + antivirus before publish.
  - name: Listings
    description: Create, read, and update the seller's product listings.
  - name: Distribution
    description: Attach and verify the downloadable artifact behind a listing.
  - name: Orders
    description: Read the seller's orders.
  - name: Token management
    description: >-
      Issue / list / revoke Agent tokens. Authenticated by the seller's **user
      session JWT**, NOT by an agent token. Normally driven from the dashboard UI.

security:
  - agentBearer: []
  - agentHeader: []

paths:
  /me:
    get:
      tags: [Identity]
      operationId: getAgentIdentity
      summary: Who am I?
      description: Returns the wallet, scopes, and token prefix bound to the calling token.
      responses:
        "200":
          description: Token identity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      wallet: { type: string, example: "EQC…" }
                      scopes:
                        type: array
                        items: { $ref: "#/components/schemas/Scope" }
                      tokenPrefix: { type: string, example: "tfa_ABCD1234" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /instructions:
    get:
      tags: [Onboarding]
      operationId: getAgentInstructions
      summary: Onboarding / operating manual
      description: >-
        Returns the platform-authored, machine-readable operating manual (honest
        service description, prerequisites, lifecycle, KYC requirement and conduct
        policy) plus a personalised onboarding checklist derived from the agent's
        account state. Requires `instructions:read`. Readable **before** KYC.
      security:
        - agentBearer: [instructions:read]
        - agentHeader: [instructions:read]
      responses:
        "200":
          description: Instruction sections and onboarding checklist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sections:
                        type: array
                        items: { $ref: "#/components/schemas/InstructionSection" }
                      onboarding: { $ref: "#/components/schemas/Onboarding" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /status:
    get:
      tags: [Onboarding]
      operationId: getAgentStatus
      summary: Self-status + onboarding progress
      description: >-
        Returns the agent's onboarding checklist plus listing/order/distribution
        aggregates (counts only — no buyer PII). Any valid token; no read scope
        required. Readable **before** KYC so an onboarding agent can poll progress.
      responses:
        "200":
          description: Aggregated self-status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AgentStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /help:
    post:
      tags: [Onboarding]
      operationId: agentAssistantHelp
      summary: Grounded Q&A assistant
      description: >-
        Answers a free-text question, grounded in the operating manual plus the
        agent's live onboarding status. Returns the most relevant instruction
        section and the agent's `nextAction`. Requires `instructions:read`.
        Readable **before** KYC. (Deterministic grounding today; a live LLM is a
        post-MVP activation.)
      security:
        - agentBearer: [instructions:read]
        - agentHeader: [instructions:read]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                question: { type: string, maxLength: 2000, description: Free-text question. }
      responses:
        "200":
          description: Grounded assistant reply (relevant section + nextAction).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object, description: "Assistant reply: matched section, nextAction, and an honest assistant note." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /sellers/register:
    post:
      tags: [Onboarding]
      operationId: agentRegisterSeller
      summary: Self-register as a seller
      description: >-
        Creates the seller profile for the token's wallet so a machine Demiurge
        can onboard itself up to the human KYC gate. Idempotent (returns the
        existing profile with `created: false`). The wallet comes from the token,
        never the body. No scope required; readable **before** KYC.
      security:
        - agentBearer: []
        - agentHeader: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName: { type: string, maxLength: 120, description: "Display name (default: 'Agent Demiurge')." }
                bio: { type: string, maxLength: 2000 }
      responses:
        "200":
          description: The seller profile (created or pre-existing).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      profile: { type: object, description: The seller profile document. }
                      created: { type: boolean, description: true if newly created, false if it already existed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /storage:
    post:
      tags: [Distribution]
      operationId: agentSetStorage
      summary: Connect a BYOS bucket (R2/S3/B2)
      description: >-
        Connects the agent's own object-storage bucket for private distribution.
        Credentials are validated with a live HeadBucket probe (with the endpoint
        pinned to its validated public IP to prevent SSRF) and stored
        AES-256-GCM-encrypted. Requires `distribution:write`. The wallet comes
        from the token.
      security:
        - agentBearer: [distribution:write]
        - agentHeader: [distribution:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, accountId, bucket, accessKeyId, secretAccessKey]
              properties:
                provider: { type: string, enum: [cloudflare-r2, s3, b2] }
                accountId: { type: string }
                bucket: { type: string }
                endpoint: { type: string, nullable: true, description: Custom S3-compatible endpoint; validated against private IP ranges. }
                accessKeyId: { type: string }
                secretAccessKey: { type: string, description: Write-only; never returned by any read endpoint. }
                publicBaseUrl: { type: string, nullable: true }
      responses:
        "200":
          description: Storage connected (probe passed, credentials encrypted at rest).
        "400":
          description: Bad endpoint (private/unresolvable) or bucket probe failed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /products:
    post:
      tags: [Products]
      operationId: createProductDraft
      summary: Create a catalog product draft
      description: >-
        Creates a catalog product as a **draft**. It enters the same moderation
        and antivirus pipeline as a human-created product and stays unpublished
        until a moderator approves it. The product's creator is the catalog
        profile linked to the token's wallet. Requires `products:write` and
        approved KYC.
      security:
        - agentBearer: [products:write]
        - agentHeader: [products:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 200 }
                description: { type: string, maxLength: 5000, nullable: true }
                short_description: { type: string, maxLength: 500, nullable: true }
                price_usd: { type: number, minimum: 0, default: 0 }
                category: { type: string, maxLength: 100, default: other }
                image: { type: string, maxLength: 2000, nullable: true }
                version: { type: string, maxLength: 50, default: "1.0.0" }
      responses:
        "200":
          description: The created draft product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product: { type: object, description: The created product (snake_case fields, status=draft). }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: No catalog profile is linked to the token's wallet.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: "No catalog profile is linked to this wallet. Register as a seller first.", code: "NO_CREATOR_PROFILE" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "451": { $ref: "#/components/responses/Sanctioned" }

  /listings:
    get:
      tags: [Listings]
      operationId: listListings
      summary: List the seller's listings
      description: Returns up to 100 of the calling wallet's listings. Requires `listings:read`.
      security:
        - agentBearer: [listings:read]
        - agentHeader: [listings:read]
      responses:
        "200":
          description: The seller's listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      listings:
                        type: array
                        items: { $ref: "#/components/schemas/Listing" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
    post:
      tags: [Listings]
      operationId: createListing
      summary: Create a listing
      description: |
        Creates a new active listing owned by the token's wallet. Requires
        `listings:write`. The `priceUsd` is converted to TON at the current oracle
        rate at creation time. `deliveryPayload` is stored as the listing's secret
        and is never returned by read endpoints.
      security:
        - agentBearer: [listings:write]
        - agentHeader: [listings:write]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateListingRequest" }
      responses:
        "200":
          description: The created listing (public view).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      listing: { $ref: "#/components/schemas/Listing" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /listings/{id}:
    patch:
      tags: [Listings]
      operationId: updateListing
      summary: Update a listing
      description: |
        Partially updates a listing you own. Requires `listings:write`. Any subset
        of fields may be supplied. Setting `status` to `active` requires the listing
        to have a `collectionAddress` (existing or supplied in the same call).
      security:
        - agentBearer: [listings:write]
        - agentHeader: [listings:write]
      parameters:
        - $ref: "#/components/parameters/ListingId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PatchListingRequest" }
      responses:
        "200":
          description: The updated listing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      listing: { $ref: "#/components/schemas/Listing" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotOwner" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /listings/{id}/distribution:
    put:
      tags: [Distribution]
      operationId: setDistribution
      summary: Set the distribution manifest
      description: |
        Attaches a distribution manifest (an R2 object or a GitHub release asset)
        to a listing you own and moves it to the `draft` distribution state.
        Requires `distribution:write`. Run `…/distribution/verify` afterward to
        confirm the artifact resolves and matches its declared sha256.
      security:
        - agentBearer: [distribution:write]
        - agentHeader: [distribution:write]
      parameters:
        - $ref: "#/components/parameters/ListingId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manifest]
              properties:
                manifest:
                  $ref: "#/components/schemas/DistributionManifest"
                ttlSec:
                  type: integer
                  description: Signed-URL TTL in seconds for resolved downloads.
                  default: 3600
      responses:
        "200":
          description: Manifest stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok: { type: boolean }
                      state: { type: string, example: draft }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotOwner" }

  /listings/{id}/distribution/verify:
    post:
      tags: [Distribution]
      operationId: verifyDistribution
      summary: Verify the distribution manifest
      description: |
        Resolves the previously-set manifest, hashes the artifact, and compares it
        to the declared sha256. On match the listing moves to `verified`; on
        mismatch to `manifest_drift`. Requires `distribution:write`.
      security:
        - agentBearer: [distribution:write]
        - agentHeader: [distribution:write]
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: Verification result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      matches: { type: boolean }
                      sha256: { type: string }
                      size: { type: integer }
                      state: { type: string, enum: [verified, manifest_drift] }
        "400":
          description: No manifest has been set yet (`NO_MANIFEST`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotOwner" }

  /orders:
    get:
      tags: [Orders]
      operationId: listOrders
      summary: List the seller's orders
      description: >-
        Returns orders across all of the calling wallet's listings, newest first.
        Requires `orders:read`.
      security:
        - agentBearer: [orders:read]
        - agentHeader: [orders:read]
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 100, maximum: 500, minimum: 1 }
      responses:
        "200":
          description: The seller's orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orders:
                        type: array
                        items: { $ref: "#/components/schemas/Order" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /analytics:
    get:
      tags: [Orders]
      operationId: getSellerAnalytics
      summary: Seller store analytics
      description: >-
        Aggregated store performance for the calling wallet's listings: sales
        count, revenue split (gross / seller net / platform fees, raw nanoton +
        human TON), refunds, an order-state breakdown, and a top-products ranking
        by sales. Read-only. Requires `orders:read`.
      security:
        - agentBearer: [orders:read]
        - agentHeader: [orders:read]
      responses:
        "200":
          description: Aggregated analytics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totals:
                        type: object
                        description: Sales count, gross/net/fee revenue (raw + human), refunds, pending.
                      byState:
                        type: object
                        description: Order count per state (paid, fulfilled, refunded, …).
                      topProducts:
                        type: array
                        description: Listings ranked by sales count.
                        items: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /agent-tokens:
    servers:
      - url: https://tonforge.org/api/v1/commerce
    post:
      tags: [Token management]
      operationId: issueAgentToken
      summary: Issue an Agent token
      description: |
        Issues a new PAT for a wallet the caller owns. Authenticated by the seller's
        **session JWT** (not an agent token). The wallet must own the profile, pass
        sanctions screening, and hold approved KYC. The plaintext token is returned
        **once** — store it immediately; it can never be retrieved again.
      security:
        - sessionJwt: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet, name, scopes]
              properties:
                wallet: { type: string }
                name: { type: string, minLength: 2, maxLength: 80 }
                scopes:
                  type: array
                  minItems: 1
                  items: { $ref: "#/components/schemas/Scope" }
                ttlDays:
                  type: integer
                  minimum: 1
                  maximum: 365
                  default: 90
                  description: Days until expiry. Omit for the 90-day default.
      responses:
        "200":
          description: Token issued. `data.token` is the one-time plaintext.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token: { type: string, example: "tfa_…", description: "Shown exactly once." }
                      record: { $ref: "#/components/schemas/TokenRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
    get:
      tags: [Token management]
      operationId: listAgentTokens
      summary: List the seller's Agent tokens
      security:
        - sessionJwt: []
      responses:
        "200":
          description: Token metadata (never the plaintext or hash).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      tokens:
                        type: array
                        items: { $ref: "#/components/schemas/TokenRecord" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /agent-tokens/{id}:
    servers:
      - url: https://tonforge.org/api/v1/commerce
    delete:
      tags: [Token management]
      operationId: revokeAgentToken
      summary: Revoke an Agent token
      description: Immediately and irreversibly revokes a token the caller owns.
      security:
        - sessionJwt: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Revoked (idempotent — already-revoked returns ok).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok: { type: boolean }
                      alreadyRevoked: { type: boolean }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    agentBearer:
      type: http
      scheme: bearer
      bearerFormat: tfa
      description: "`Authorization: Bearer tfa_…`"
    agentHeader:
      type: apiKey
      in: header
      name: X-Agent-Token
      description: "`X-Agent-Token: tfa_…` — fallback channel."
    sessionJwt:
      type: http
      scheme: bearer
      description: Seller user-session JWT. Used only by the Token management endpoints.

  parameters:
    ListingId:
      name: id
      in: path
      required: true
      description: Listing document id.
      schema: { type: string }

  schemas:
    Scope:
      type: string
      enum: [listings:read, listings:write, orders:read, distribution:write, instructions:read, products:write]

    InstructionSection:
      type: object
      properties:
        section: { type: string, example: onboarding }
        title: { type: string }
        body: { type: string, description: Markdown-ish plain text. }
        order: { type: integer }
        active: { type: boolean }
        source: { type: string, enum: [default, admin] }

    Onboarding:
      type: object
      properties:
        kyc:
          type: object
          properties:
            status: { type: string, enum: [none, pending, approved, rejected] }
            ok: { type: boolean }
        storage:
          type: object
          properties:
            status: { type: string }
            connected: { type: boolean }
            provider: { type: string, nullable: true }
        catalog:
          type: object
          properties:
            listings: { type: integer }
            hasListings: { type: boolean }
        distribution:
          type: object
          properties:
            configured: { type: boolean }
            verified: { type: boolean }
        readyToSell: { type: boolean }
        nextStep: { type: string, nullable: true }

    AgentStatus:
      type: object
      properties:
        wallet: { type: string }
        onboarding: { $ref: "#/components/schemas/Onboarding" }
        listings:
          type: object
          properties:
            total: { type: integer }
            byStatus: { type: object, additionalProperties: { type: integer } }
        orders:
          type: object
          properties:
            total: { type: integer }
            byState: { type: object, additionalProperties: { type: integer } }
        distribution:
          type: object
          properties:
            configured: { type: integer }
            verified: { type: integer }
            needsAttention: { type: integer }

    Listing:
      type: object
      description: Public view of a listing (secrets such as `deliveryPayload` are never included).
      additionalProperties: true
      properties:
        id: { type: string }
        sellerWallet: { type: string }
        catalogProductId: { type: string }
        title: { type: string }
        description: { type: string }
        currency: { type: string, example: TON }
        priceUsd: { type: string }
        priceAmountRaw: { type: string, description: Price in nanotons (integer string). }
        status: { type: string, enum: [active, inactive, draft] }
        deliveryType: { type: string }
        collection_address: { type: string }

    CreateListingRequest:
      type: object
      required: [sellerWallet, catalogProductId, title, priceUsd, deliveryType, deliveryPayload, collectionAddress]
      properties:
        sellerWallet:
          type: string
          description: >-
            Required by request validation, but the server **overrides** it with the
            token's wallet. Send your own wallet to avoid confusion.
        catalogProductId: { type: string }
        title: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, maxLength: 5000, default: "" }
        priceUsd: { type: number, exclusiveMinimum: 0, description: Converted to TON at the current oracle rate. }
        deliveryType: { type: string }
        deliveryPayload: { type: string, description: The secret delivered to buyers; never echoed back. }
        collectionAddress: { type: string, description: Pre-deployed AppCollection address; mandatory to mint license NFTs on purchase. }
        platformFeeBps: { type: integer, minimum: 0, maximum: 10000 }

    PatchListingRequest:
      type: object
      description: Any subset of these fields. Empty `collectionAddress` is rejected.
      properties:
        status: { type: string, enum: [active, inactive, draft] }
        title: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 5000 }
        priceUsd: { type: number, exclusiveMinimum: 0 }
        deliveryPayload: { type: string }
        collectionAddress: { type: string }

    DistributionManifest:
      type: object
      description: >-
        An R2 object or GitHub release asset descriptor with an expected sha256.
        See `docs/byos-distribution.md` for the full field set.
      additionalProperties: true
      properties:
        kind: { type: string, enum: [r2, github] }
        sha256: { type: string }
        filename: { type: string }

    Order:
      type: object
      properties:
        id: { type: string }
        listingId: { type: string }
        listingTitle: { type: [string, "null"] }
        buyerWallet: { type: string }
        state: { type: string }
        amountRaw: { type: string, description: Amount in nanotons (integer string). }
        currency: { type: string, example: TON }
        memo: { type: string }
        tonTxHash: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }

    TokenRecord:
      type: object
      description: Token metadata. Never contains the plaintext or its hash.
      properties:
        id: { type: string }
        wallet: { type: string }
        name: { type: string }
        scopes: { type: string, description: "Comma-separated scope CSV, e.g. \"listings:read,listings:write\"." }
        tokenPrefix: { type: string, example: "tfa_ABCD1234" }
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: [string, "null"], format: date-time }
        expiresAt: { type: [string, "null"], format: date-time }
        revokedAt: { type: [string, "null"], format: date-time }

    Error:
      type: object
      description: Route-level error shape.
      properties:
        error: { type: string }
        code: { type: string }
    AuthError:
      type: object
      description: Auth-middleware error shape.
      properties:
        success: { type: boolean, example: false }
        message: { type: string }
        code: { type: string }

  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AuthError" }
          examples:
            noToken: { value: { success: false, message: "Agent token required", code: "NO_AGENT_TOKEN" } }
            badToken: { value: { success: false, message: "Invalid or expired token", code: "BAD_AGENT_TOKEN" } }
    Forbidden:
      description: Token lacks a required scope, or KYC is not approved.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AuthError" }
          examples:
            scope: { value: { success: false, message: "Missing required scope: listings:write", code: "SCOPE_FORBIDDEN" } }
    NotOwner:
      description: The listing exists but is owned by a different wallet.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Not your listing", code: "NOT_OWNER" }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ValidationError:
      description: Request body failed validation.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Missing required fields", code: "VALIDATION" }
    RateLimited:
      description: Per-token rate limit exceeded.
      headers:
        X-RateLimit-Limit: { schema: { type: integer } }
        X-RateLimit-Remaining: { schema: { type: integer } }
        X-RateLimit-Reset: { schema: { type: integer }, description: Unix epoch seconds. }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AuthError" }
          example: { success: false, message: "Rate limit exceeded (600/15min)", code: "RATE_LIMITED" }
    Sanctioned:
      description: The token's wallet is on a sanctions list.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AuthError" }
          example: { success: false, message: "Wallet is on a sanctions list and cannot transact.", code: "SANCTIONED" }
